#Windows Thumbnails ignorieren
Thumbs.db

#Visual Studio Dateien ignorieren
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/

#ignore thumbnails created by windows
#Ignore files build by Visual Studio
[Tt]est[Rr]esult*

#Ignore thumbnails created by Windows
#Ignore files built by Visual Studio
.vs/
#Nuget packages folder
packages/

#ignore VS Files
.vs/

